:root{
    /* bg-colors */
    --bg-primary--color: rgb(17,17,17);
    --bg-secondary-color: rgb(34,34,34);
    --bg-active-color: rgb(233,233,233);
    --bg-success-color: #03490b;
    



    /* text colors */
    --text-primary-color: rgb(237,237,237);
    --text-secondary: rgb(200,200,200);
    --text-tertiary: rgb(150,150,150);
    --text-active: rgb(24,24,24);

  /* padding */

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;

  /* margin */
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 3rem;

  /* gutter */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-xl: 3rem;

  /* font size */
  --font-sm: 0.5rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2rem;
  --font-2xl: 3rem;
  /* border radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}